@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  font-family: "Roboto", serif;
}
.chronomètre {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  width: 400px;
  text-align: center;
}
.tim {
  margin: auto;
  width: 98%;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 5px;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}
.tim span {
  font-family: "Dancing Script", serif;
  padding: 5px;
}
.controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
button {
  border: 1px solid black;
  color: black;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 31%;
  border: 0;
  letter-spacing: 1px;
  transition: 0.5s;
}
button:hover {
  transform: scale(0.9);
}
