@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 700;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: #fff;
  flex-direction: column;
  width: 100;
}
 .Message{
  color: #fff;
  padding: 5px 25px;
  margin-bottom: 25px;
  border-radius: 10px;
}
section{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .calcul{
 display: flex; 
}
section .calcul h1{
  color: #000000; 
  font-size: 50px;
  margin: 0 20px;
 }
 section h2{
  color: #000000;
  margin: 10px 0;  
 }
 section input{
  padding: 10px 0;
  border: 0;
  outline:0;
  font-size: 30px;
  color: #000000;
  border-bottom: 2px solid #000000;
  background-color: transparent; 
  margin-bottom: 30px;
 }
 section input[type="submit"]{
  padding: 10px 65px;
  border: 0;
  background-color: blue;
  font-size: 25px;
  color: #000000;
  text-align: center;
 }
 .score{
  font-size: 25px;
  color: #000000;
  text-align:center;
 }
a{
  color: #fff;
  text-decoration: 0;
  border: 1px solid #fff;
  padding:10px 25px;
  border-radius: 5px;
  margin: 25px 0;
  display: none;

}
span{
  font-size: 100px;

}